* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Courier New', Courier, monospace;
	color: aliceblue;
}

body {
	background-color: dimgrey;
}

p {
	color: white;
	font-size: 1.3em;
}

button {
	outline: none;
	background-color: rgb(208, 57, 188);
	color: aliceblue;
	font-size: 1.3em;
	border-radius: 15%;
}
button:hover {
	background-color: #ddd;
  }
  
  button.correct {
	background-color: #4CAF50;
	color: #fff;
  }
  
  button.incorrect {
	background-color: #f44336;
	color: #fff;
  }

h1,
h2 {
	color: rgb(148, 148, 148);
	text-align: center;
}

li {
	list-style: none;
}

/*Outer container Div */
.outer-container {
	padding: 10px;
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: start;
}

/*top display Div*/
.top-display p {
	float: right;
}

/*Inner container Div*/
.inner-container {
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*Quiz intro Header*/
.quiz-intro,
main {
	display: block;
	border: 1px black;
	margin-bottom: 30vh;
	margin-top: 30vh;
	margin-left: 10%;
	margin-right: 10%;
	background-color: rgb(60, 38, 204);
}

.quiz-intro p {
	text-align: center;
}

.quiz-intro button {
	display: block;
	margin: auto;
}

/*Quiz content Main element*/
.hide {
	display: none;
}

/*Question screen
#question-screen {
	/*display: block;
}*/


/*Quiz finish screen*/
#quiz-finish-screen {
	display: none;
}

/*Leaderboard section*/
#leaderboards-screen {
	display: block;
}

#leaderboards-screen,
ol {
	overflow-y: scroll;
	max-height: 200px;
}